@keyframes example {
  from {transform: translate(0, 300px);}
  to {transform: translate(0, 0);}
}

.cardlist{
  text-align: center;
}

.cardimage{
  display: inline-block;
  padding: 8px;
  width: 100px;
  height: auto;
  animation-name: example;
  animation-duration: 1s;
}